<h1 id="n">n</h1>

<div id="matrix">
  <h1 id="m">m</h1>
  <cdk-virtual-scroll-viewport  itemSize="100" >
     <div *cdkVirtualFor="let row of indexArrayOfLength(n)"
       class="cell-row-element">
    <div *ngFor="let col of indexArrayOfLength(m)"
         (click)="changeColor(cellAt(row, col))"
         [ngStyle]="{ 'background-color': cellAt(row, col)?.color }"
         class="cell-col-element"></div>
  </div>
</cdk-virtual-scroll-viewport>
</div>

<button mat-flat-button
        color="accent"
        (click)="solve()"
        *ngIf="!traversed[0][0]">SOLVE</button>

<button mat-flat-button
        color="accent"
        (click)="toHomeScreen()"
        *ngIf="traversed[0][0]">< RESTART</button>
